/* Tabbing CSS */
[class^="box-"]{display:none}
[class^="box-"].showfirst{display:block}

.dw-comments {
    padding-top: 20px;

    &Hd {
        h6 {
            color: #37352f;
            font-size: 20px;
            font-weight: 600;
            line-height: normal;
            padding-bottom: 15px;
        }
    }

    &-main {
        display: flex;
        gap: 10px;
        border: 2px solid #c0c0c0;
        padding: 5px;
        border-radius: 10px;
    }

    &Aside {
        flex: 0 0 350px;
        height: 700px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: #f7f7f7;
        padding: 10px 0 0;
        border-radius: 5px;

        &-head {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            gap: 10px;
            padding: 0 10px 0;
        }

        &-action {
            span {
                display: flex;
                padding: 5px 10px;
                align-items: center;
                gap: 8px;
                border-radius: 3px;
                background: #227efb;
                color: #fff;
                font-size: 14px;
                font-weight: 500;
                line-height: normal;
                text-wrap: nowrap;
                cursor: pointer;
                transition: all 0.4s ease-in-out;

                &:hover {
                    opacity: 0.8;
                    -webkit-backdrop-filter: blur(2px);
                    backdrop-filter: blur(2px);
                }
            }
        }

        // &-search {
        //     position: relative;
        //     width: 100%;
        //     input {
        //         width: 100%;
        //         height: 100%;
        //         border-radius: 4px;
        //         border: 1px solid #e9e9e9;
        //         background: #ffffff;
        //         padding: 10px 10px 10px 45px;
        //         font-size: 14px;
        //         color: #333;
        //         line-height: normal;
        //         font-weight: 500;
        //     }

        //     .icon {
        //         height: fit-content;
        //         position: absolute;
        //         top: 0;
        //         bottom: 0;
        //         left: 10px;
        //         margin: auto;
        //     }
        // }

        &-tabing-nav {
            display: flex;
            align-items: center;
            gap: 0px;

            &Itmes {
                position: relative;
                padding: 10px 40px;
                background: #ffffff00;
                cursor: pointer;
                transition: opacity 0.2s ease-in-out;
                border-radius: 5px 5px 0 0;

                em {
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    right: 0;
                    background-color: #ddd;
                    display: block;
                    width: 100%;
                    height: 1px;
                    margin: auto;
                }

                h6 {
                    color: #37352f;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.28;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    span {
                        padding: 5px 10px;
                        border-radius: 3px;
                        font-size: 12px;
                        line-height: normal;
                        background-color: #ccc;
                    }
                }

                &.active, &.current {
                    background-color: #ecf4ff;
                    opacity: 1 !important;

                    em {
                        background-color: #227efb;
                    }

                    h6 {
                        color: #227efb;

                        span {
                            background-color: #227efb;
                            color: #fff;
                        }
                    }
                }

                &.inProcess {
                    background-color: #ecf4ff;

                    em {
                        background-color: #227efb;
                    }

                    h6 {
                        color: #227efb;

                        span {
                            background-color: #227efb;
                            color: #fff;
                        }
                    }
                }

                &.completed {
                    background-color: #dcfce7;

                    em {
                        background-color: #2ad847;
                    }

                    h6 {
                        color: #8bc442;

                        span {
                            background-color: #8bc442;
                            color: #fff;
                        }
                    }
                }

                &.rejected {
                    background-color: #ffe0e0;

                    em {
                        background-color: #ef4444;
                    }

                    h6 {
                        color: #c94634;

                        span {
                            background-color: #c94634;
                            color: #fff;
                        }
                    }
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        .dw-commentsAside-body {
            height: 585px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 0 10px;

            overflow: hidden;
            overflow-y: auto;
            mask-image: linear-gradient(to top, transparent, black),
                linear-gradient(to left, transparent 7px, black 7px);
            mask-size: 100% 20000px;
            mask-position: left bottom;
            -webkit-mask-image: linear-gradient(to top, transparent, black),
                linear-gradient(to left, transparent 7px, black 7px);
            -webkit-mask-size: 100% 20000px;
            -webkit-mask-position: left bottom;
            transition:
                mask-position 0.4s,
                -webkit-mask-position 0.4s;

            &:hover {
                -webkit-mask-position: left top;
            }
            &::-webkit-scrollbar {
                width: 5px;
            }
        }

        .dw-commentsAside-user {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 10px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: #e9e9e9;
            }

            &Avatar {
                span {
                    background-color: #8bc442;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    display: grid;
                    place-items: center;
                    place-content: center;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: normal;
                    width: 30px;
                    height: 30px;
                    flex: 0 0 30px;
                    color: #7d7c78;
                    border-color: #d9d9d9;
                    background-color: #fff;
                }
            }

            &Name {
                text-wrap: nowrap;
                text-overflow: ellipsis;
                width: 100%;
                overflow: hidden;
                font-size: 16px;
                font-weight: 600;
                line-height: 1.2;
                color: #37352f;
                max-width: 250px;
            }
        }
    }

    &Body {
        .dw-commentsBodyTop {
            padding: 9.5px 10px;
            border-bottom: 1px solid #d9d9d9;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;

            &-user {
                display: flex;
                align-items: center;
                gap: 5px;

                &Avatar {
                    span {
                        background-color: #8bc442;
                        border: 2px solid #fff;
                        border-radius: 50%;
                        display: grid;
                        place-items: center;
                        place-content: center;
                        color: #fff;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: normal;
                        width: 30px;
                        height: 30px;
                        flex: 0 0 30px;
                        color: #7d7c78;
                        border-color: #d9d9d9;
                        background-color: #fff;
                    }
                }

                &Name {
                    text-wrap: nowrap;
                    text-overflow: ellipsis;
                    width: 100%;
                    overflow: hidden;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 1.2;
                    color: #37352f;
                    max-width: 400px;
                }
            }

            &-action {
                &Btn {
                    padding: 2px 4px;
                    cursor: pointer;
                    transition: all 0.4s ease-in-out;

                    &:hover {
                        background-color: #e9e9e9;
                    }
                }
            }
        }
    }

    &ActionArea {
        display: flex;
        align-items: flex-start;
        gap: 30px;
        padding: 9.5px 10px;
        border-top: 1px solid #d9d9d9;
        // border-bottom: 1px solid #D9D9D9;

        .dw-commentsAction-massage {
            display: flex;
            align-items: flex-start;
            gap: 10px;
            width: 100%;

            .dw-commentSenderIcon {
                padding-top: 3px;
                span {
                    width: 23px;
                    height: 23px;
                    display: grid;
                    place-items: center;
                    color: #000;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: normal;
                    background-color: #d9d9d9;
                    border-radius: 50%;
                }
            }

            textarea,
            input {
                width: 100%;
                height: 60px;
                resize: none;
                font-size: 14px;
                color: #333;
                line-height: 1.2;
                padding-top: 7px;
                background: transparent;
                border: none;
                border-radius: 0px;
                font-weight: 400;
            }
        }
    }

    &ActionBtn {
        display: flex;
        align-items: flex-start;
        gap: 3px;
        padding-top: 6px;

        span {
            padding: 2px 4px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: rgba(0, 0, 0, 0.08);
            }
        }
    }

    &Area {
        height: calc(700px - (80px + 50px));
        padding: 10px;
        overflow: hidden;
        overflow-y: auto;
        mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 7px, black 7px);
        mask-size: 100% 20000px;
        mask-position: left bottom;
        -webkit-mask-image: linear-gradient(to top, transparent, black),
            linear-gradient(to left, transparent 7px, black 7px);
        -webkit-mask-size: 100% 20000px;
        -webkit-mask-position: left bottom;
        transition:
            mask-position 0.4s,
            -webkit-mask-position 0.4s;

        &:hover {
            -webkit-mask-position: left top;
        }
        &::-webkit-scrollbar {
            width: 5px;
        }

        &Items {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding-bottom: 30px;
            position: relative;

            &::after {
                content: "";
                width: 1px;
                height: 100%;
                top: 0;
                left: 10px;
                position: absolute;
                background-color: #d9d9d9;
            }

            &:nth-last-child(1) {
                &::after {
                    display: none;
                }
            }

            .dw-commentsArea-head {
                display: flex;
                align-items: center;
                gap: 5px;

                .profile {
                    width: 23px;
                    flex: 0 0 23px;
                    z-index: 1;
                    position: relative;
                    span {
                        width: 23px;
                        height: 23px;
                        background-color: #d9d9d9;
                        display: grid;
                        place-items: center;
                        color: #000;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: normal;
                        border-radius: 50%;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }

                h6 {
                    color: #37352f;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: normal;
                }

                .dw-commentsArea-msgTime {
                    color: #333;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1; /* 133.333% */
                }
            }

            .dw-commentsArea-cont {
                padding: 0 28px;

                a {
                    color: #227efb;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.4;
                    display: inline;

                    &:hover {
                        opacity: 0.75;
                    }
                }

                p {
                    color: #7d7c78;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.4;

                    & + p {
                        padding-top: 15px;
                    }
                }

                .media {
                    display: flex;
                    max-width: 150px;
                    max-height: 150px;
                    display: inline-flex;
                    justify-content: space-between;
                    flex-direction: column;
                    align-items: flex-start;
                    border: 1px solid #cccccc90;
                    margin: 0;
                    padding: 10px !important;
                    border-radius: 3px;

                    img {
                        object-fit: contain;
                        object-position: center;
                        max-height: calc(100% - 40px);
                        margin: auto;
                    }

                    .mediaBtnGroup {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding-top: 10px;

                        span {
                            display: flex;
                            padding: 5px 10px;
                            justify-content: center;
                            align-items: center;
                            gap: 5px;
                            border-radius: 5px;
                            background: #868686;
                            color: #fff;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: normal;
                            transition: all 0.3s ease-in-out;
                            cursor: pointer;

                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    }
}

.dropdown-menu {
    border-radius: 5px;
    border: 1px solid #eee;
    background: #fff;
    box-shadow: 0px 12px 41px 0px rgba(0, 0, 0, 0.2);
    padding: 8px 0px 9px 0px;

    li {
        user-select: none;
        &:nth-last-child(1) {
            span,
            em,
            p,
            b {
                border-bottom: none;
            }
        }
        span,
        em,
        p,
        b {
            padding: 9px 35px 10px 20px;
            border-bottom: 1px solid #eee;
            color: #37352f;
            font-size: 14px;
            font-weight: 700;
            line-height: normal;
            cursor: pointer;
        }
    }

    .dropdown-item.active,
    .dropdown-item:active {
        background-color: rgba(0, 0, 0, 0.06);
        color: #37352f;
    }
}


.mn-search {
	position: relative;
	z-index: 1;

	input {
		position: absolute;
		right: -5px;
		top: 0;
		bottom: 0;
		margin: auto;
		border-radius: 4px;
		border: 1px solid transparent;
		background-color: transparent;
		padding: 0;
		font-size: 14px;
		color: transparent;
		line-height: normal;
		font-weight: 500;
		height: 40px;
		width: 0;
		pointer-events: none;
		opacity: 0;
		transition: width 0.4s ease-in-out, background-color 0.3s ease-in-out, opacity 0.2s ease-in-out;
	}

	.icon {
		z-index: 1;
		position: relative;
		cursor: pointer;
	}

	&.active {
		input {
			pointer-events: all;
			opacity: 1;
			width: 350px;
			padding: 10px 40px 10px 10px;
			border-color: #E9E9E9;
			color: #333;
			background: #FAFBFC;
		}
	}
}



.add-overlay {
	opacity: 0.4;
	background: #FFF;
	z-index: 15;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	display: none;
}

.add-popup {
	width: 950px;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 16;
	border: 1px solid #E9E9E9;
	background: #FFF;
	display: none;
	transition: all 0.4s ease-in-out;

	.dw-popup-head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
		padding: 11px;

		.action {
			display: flex;
			align-items: center;
			gap: 4px;

			span {
				padding: 2px 4px;
				border-radius: 2px;
				transition: all 0.3s ease-in-out;

				&:hover {
					background-color: rgba(0, 0, 0, 0.05);
				}
			}
		}
	}

	.dw-popup-body {
		padding: 40px;
		height: calc(100vh - 50px);
		overflow: hidden;
		overflow-y: auto;

		h2 {
			color: #37352F;
			font-size: 12px;
			font-weight: 700;
			line-height: normal;
			padding-bottom: 40px;
		}
	}
}

.projectAddNew-formHd {
	display: flex;
	align-items: center;
	gap: 30px;
	justify-content: space-between;
	padding-bottom: 30px;

	input {
		color: #333;
		font-size: 24px;
		font-weight: 700;
		line-height: normal;

		&::placeholder {
			color: #37352f;
			font-weight: 700;
		}
	}

	.projectAddNew-formSaveBtn {
		button { 
			display: flex;
			padding: 10px;
			justify-content: center;
			align-items: center;
			gap: 5px; 
			border-radius: 5px;
			background: #CCC;
			color: #37352F;
			font-size: 14px;
			font-weight: 500;
			line-height: normal;
			transition: all 0.2s ease-in-out;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.projectAddNew-formBody {
	label {
		color: #37352F;
		font-size: 14px;
		font-weight: 700;
		line-height: normal;
		text-transform: capitalize;
	}

	.row {
		margin-bottom: 10px;
		align-items: center;
	}

	.select2 {
		width: 100% !important;
	}

	.selection {
		width: 100%;
	}

	.select2-container--default .select2-selection--multiple {
		border: none;
		width: 100%;
	}

	.select2-container--default.select2-container--disabled .select2-selection--multiple {
		background-color: #fff;
		cursor: default;

		.select2-selection__clear {
			display: none;
		}
	}

	.projectAddNew-files{
		width: fit-content;
		height: fit-content;
		position: relative;
		transition: all 0.4s ease-in-out;
		cursor: pointer;
		input {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
			margin: 0;
			padding: 0;
			font-size: 0;
		}
		span {
			display: inline-flex;
			padding: 5px 10px;
			justify-content: center;
			align-items: center;
			gap: 5px;
			border-radius: 5px;
			background: #868686;
			color: #FFF;
			font-size: 14px;
			font-weight: 400;
			line-height: normal;
			cursor: pointer;
		}

		&:hover {
			opacity: 0.8;
		}
	}
}



.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.select2-container .select2-selection--single .select2-selection__clear {
    background-color: transparent;
    border: none;
    font-size: 1em
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px
}

.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline;
    list-style: none;
    padding: 0
}

.select2-container .select2-selection--multiple .select2-selection__clear {
    background-color: transparent;
    border: none;
    font-size: 1em
}

.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0;
    max-width: 100%;
    resize: none;
    height: 18px;
    vertical-align: bottom;
    font-family: sans-serif;
    overflow: hidden;
    word-break: keep-all
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.select2-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051
}

.select2-results {
    display: block
}

.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0
}

.select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none
}

.select2-results__option--selectable {
    cursor: pointer
}

.select2-container--open .select2-dropdown {
    left: 0
}

.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-search--dropdown {
    display: block;
    padding: 4px
}

.select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.select2-search--dropdown.select2-search--hide {
    display: none
}

.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff;
    filter: alpha(opacity=0)
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 26px;
    margin-right: 20px;
    padding-right: 0px
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: auto
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    padding-bottom: 5px;
    padding-right: 5px;
    position: relative
}

.select2-container--default .select2-selection--multiple.select2-selection--clearable {
    padding-right: 25px
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    font-weight: bold;
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
    position: absolute;
    right: 0;
    padding: 1px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    cursor: default;
    padding-left: 2px;
    padding-right: 5px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background-color: transparent;
    border: none;
    border-right: 1px solid #aaa;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #999;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0 4px;
    position: absolute;
    left: 0;
    top: 0
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background-color: #f1f1f1;
    color: #333;
    outline: none
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__display {
    padding-left: 5px;
    padding-right: 2px
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    border-left: 1px solid #aaa;
    border-right: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__clear {
    float: left;
    margin-left: 10px;
    margin-right: auto
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid black 1px;
    outline: 0
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
    cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: none
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa
}

.select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto
}

.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -2em;
    padding-left: 3em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -3em;
    padding-left: 4em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -4em;
    padding-left: 5em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -5em;
    padding-left: 6em
}

.select2-container--default .select2-results__option--group {
    padding: 0
}

.select2-container--default .select2-results__option--disabled {
    color: #999
}

.select2-container--default .select2-results__option--selected {
    background-color: #ddd
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #5897fb;
    color: white
}

.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
}

.select2-container--classic .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    background-image: -webkit-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: -o-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}

.select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 26px;
    margin-right: 20px
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: -webkit-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0)
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    border: none;
    border-right: 1px solid #aaa;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left: 1px;
    right: auto
}

.select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border: none
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: -o-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0)
}

.select2-container--classic .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    outline: 0;
    padding-bottom: 5px;
    padding-right: 5px
}

.select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__display {
    cursor: default;
    padding-left: 2px;
    padding-right: 5px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    background-color: transparent;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #888;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0 4px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #555;
    outline: none
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__display {
    padding-left: 5px;
    padding-right: 2px
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: 0
}

.select2-container--classic .select2-search--inline .select2-search__field {
    outline: 0;
    box-shadow: none
}

.select2-container--classic .select2-dropdown {
    background-color: #fff;
    border: 1px solid transparent
}

.select2-container--classic .select2-dropdown--above {
    border-bottom: none
}

.select2-container--classic .select2-dropdown--below {
    border-top: none
}

.select2-container--classic .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto
}

.select2-container--classic .select2-results__option--group {
    padding: 0
}

.select2-container--classic .select2-results__option--disabled {
    color: grey
}

.select2-container--classic .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #3875d7;
    color: #fff
}

.select2-container--classic .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
}

.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #5897fb
}